flows.json
[{"id":"5c56e947.3b2a88","type":"tab","label":"IOT Project","disabled":false,"info":""},{"id":"f2b7a68.5846658","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"34f10a50.92c6d6","type":"websocket-client","z":"","path":"ws://localhost:1880/ws","tls":"","wholemsg":"false"},{"id":"d09b0592.e6eef8","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"d2f55e72.f7607","type":"http in","z":"5c56e947.3b2a88","name":"Ingest Device Events","url":"/device-events","method":"post","upload":false,"swaggerDoc":"","x":200,"y":480,"wires":[["749428e2.d5db28","c170fc2.6240b"]],"icon":"node-red/arrow-in.png"},{"id":"de73ee57.7ef53","type":"websocket in","z":"5c56e947.3b2a88","name":"WS Host","server":"d09b0592.e6eef8","client":"","x":1160,"y":160,"wires":[[]]},{"id":"bbe18ebc.d7ef6","type":"websocket out","z":"5c56e947.3b2a88","name":"publish to websocket","server":"d09b0592.e6eef8","client":"","x":580,"y":700,"wires":[],"icon":"node-red/bridge-dash.png"},{"id":"f7a8eb35.f23b38","type":"http request","z":"5c56e947.3b2a88","name":"Dispatch Device Command","method":"POST","ret":"txt","url":"http://localhost:4000/device-commands","tls":"","x":760,"y":100,"wires":[[]],"icon":"node-red/bridge.png"},{"id":"d728b3e7.9ab49","type":"inject","z":"5c56e947.3b2a88","name":"Turn on basement_light","topic":"","payload":"{\"aggregate_id\":\"basement_light\",\"key\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":80,"wires":[["f7a8eb35.f23b38"]]},{"id":"749428e2.d5db28","type":"http response","z":"5c56e947.3b2a88","name":"","statusCode":"200","headers":{},"x":240,"y":540,"wires":[]},{"id":"a4f464a1.4c52f8","type":"inject","z":"5c56e947.3b2a88","name":"Start hvac cooling","topic":"","payload":"{\"aggregate_id\":\"hvac\",\"key\":\"cool\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["f7a8eb35.f23b38"]]},{"id":"b9ff8531.f10c08","type":"inject","z":"5c56e947.3b2a88","name":"Stop hvac","topic":"","payload":"{\"aggregate_id\":\"hvac\",\"key\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["f7a8eb35.f23b38"]]},{"id":"bda5d187.9a7f6","type":"inject","z":"5c56e947.3b2a88","name":"Start hvac heating","topic":"","payload":"{\"aggregate_id\":\"hvac\",\"key\":\"heat\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["f7a8eb35.f23b38"]]},{"id":"15545977.46ae57","type":"inject","z":"5c56e947.3b2a88","name":"Start weather sensor","topic":"","payload":"{\"aggregate_id\":\"weather_sensor\",\"key\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["f7a8eb35.f23b38"]]},{"id":"d7f8d135.6b08f","type":"inject","z":"5c56e947.3b2a88","name":"Stop weather sensor","topic":"","payload":"{\"aggregate_id\":\"weather_sensor\",\"key\":\"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["f7a8eb35.f23b38"]]},{"id":"fc59a4a5.27f418","type":"http in","z":"5c56e947.3b2a88","name":"Ingest Projection Changes","url":"/projection-changes","method":"post","upload":false,"swaggerDoc":"","x":210,"y":700,"wires":[["ed5aa25b.c5291","bbe18ebc.d7ef6"]],"icon":"node-red/arrow-in.png"},{"id":"ed5aa25b.c5291","type":"http response","z":"5c56e947.3b2a88","name":"","statusCode":"200","headers":{},"x":260,"y":760,"wires":[]},{"id":"c170fc2.6240b","type":"http request","z":"5c56e947.3b2a88","name":"publish to projections engine","method":"POST","ret":"txt","url":"http://localhost:7000/ingest/device-event","tls":"","x":820,"y":480,"wires":[[]],"icon":"node-red/bridge.png"},{"id":"e476046b.13add8","type":"debug","z":"5c56e947.3b2a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":640,"wires":[]},{"id":"bc78fa26.0d8de8","type":"http in","z":"5c56e947.3b2a88","name":"dispatch command endpoint","url":"/device-commands","method":"post","upload":false,"swaggerDoc":"","x":600,"y":320,"wires":[["f7a8eb35.f23b38","6bb24f76.99ac5"]],"icon":"node-red/arrow-in.png"},{"id":"6bb24f76.99ac5","type":"http response","z":"5c56e947.3b2a88","name":"","statusCode":"200","headers":{},"x":660,"y":380,"wires":[]},{"id":"90da30f5.0633a","type":"inject","z":"5c56e947.3b2a88","name":"Turn off basement_light","topic":"","payload":"{\"aggregate_id\":\"basement_light\",\"key\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["f7a8eb35.f23b38"]]}]